<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="icon" href="{% static 'img/icon.png' %}">

    <title>CowbaySillionValley</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/justified-nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/socialfooter.css' %}" rel="stylesheet">
    
  </head>

  <body>

    <div class="container">
		<div class="masthead">
        	<div class="row featurette">
          		<div class="col-md-1">
              		<img class="featurette-image" src="{% static 'img/logo.jpg' %}" width='100' height='100'>
          		</div>
          		<div class="col-md-11">
            		<h1 class="text-logo">Cowbay Sillion Valley</h1>
          		</div>
        	</div>
    	</div>
      	
      	<!-- Jumbotron -->
      	<div class="jumbotron">
	        <h1>
	        	<span id="slogan">靠北矽谷鍵盤指揮部</span>
	        </h1>
	        <p class="lead">
	        	<span id="subtitle">靠北有理，真愛無價。我們熱愛灣區，但有些鳥事我不吐不快。</span>
	        </p>
	        
      	</div>

    	<!-- Example row of columns -->
		
    	<hr>
 
      <div class="col-lg-12 col-centered">
  			<div class="input-group input-group-lg">
  	  			<span class="input-group-addon" id="sizing-addon1">
  	  				<img src="{% static 'img/icon_note.png' %}">
  	  			</span>
  	  			<textarea id="contents" class="form-control" rows="5" placeholder="What do you want to share today?" required></textarea>
  			</div>
		  </div>

		<div class="col-lg-2 col-centered">
			<button type="submit" class="btn btn-success btn-centered" onclick="toast()">
				Submit
			</button>
      
			<div id="snackbarErr"> 無法張貼空白貼文喔 </div>
      <div id="snackbarSuc"> 貼文已送出，小編審核中 </div>
		</div>

		<hr>

		<div class="social-link pull-right">
			<div class="col-md-12">
	            <ul class="social-network social-circle">
	            	<li>
	            		<a href="https://www.facebook.com/cowbaySiliconValley/" class="icoFacebook" title="Facebook">
	            			<i class="fa fa-facebook"></i>
	            		</a>
	            		<p>
	            			<h4 >靠北矽谷 Facebook 粉絲專頁</h4>
	            		</p>
	            	</li>   
	            </ul>			
			</div>
		</div>
		<div>&nbsp;</div>
	    <!-- Site footer -->
	    <footer class="footer">
	        <p class="text-center">&copy; Cowbay Sillicon Valley. 2017</p>
	    </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ui.js' %}"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

  </body>
</html>
