<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/icon.ico" %}">

    <title>HELP HALF Quotation</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/justified-nav.css" %}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
    	<div class="masthead">
        	<div class="row featurette">
          		<div class="col-md-2">
              		<img class="featurette-image" src="{% static "img/logo.jpg" %}" width='100' height='100'>
          		</div>
          		<div class="col-md-10">
            		<h1 class="text-logo">HELP HALF Quotation</h1>
          		</div>
        	</div>
     
	        <nav class="navbar navbar-light bg-faded rounded mb-3">
	          	<div class="navbar-toggleable-md" id="navbar">
	            	<ul class="nav navbar-nav text-md-center justify-content-md-between">
	              		<li class="nav-item">
	                		<a class="nav-link" 
	                			onmouseover="onMouseOverTab(this)" 
	                			onmouseout="onMouseOutTab(this)" 
	                			onclick="onChangePage(this)" page="index.html">
	                			<span id="home">Home</span>
	                		</a>
	              		</li>
	              		<li class="nav-item active">
	                		<a class="nav-link" 
	                			onmouseover="onMouseOverTab(this)" 
	                			onmouseout="onMouseOutTab(this)" 
	                			onclick="onChangePage(this)" page="partners.html">
	                			<span id="partners">Partners</span>
	                		</a>
	              		</li>
	              		<li class="nav-item">
	                		<a class="nav-link"
	                			onmouseover="onMouseOverTab(this)" 
	                			onmouseout="onMouseOutTab(this)" 
	                			onclick="onChangePage(this)" page="contact.html" 
	                			>
	                			<span id="contact">Contact</span>
	                		</a>
	              		</li>
	              		<li class="nav-item dropdown">
	                		<a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
	                		onmouseover="onMouseOverTab(this)" 
	                		onmouseout="onMouseOutTab(this)" >
	                			<span id="language">Language</span>
	                		</a>
	                		<div class="dropdown-menu" aria-labelledby="dropdown01">
	                  			<a class="dropdown-item" onclick="onClickChangeLang(this)" lang="en" value="en">English</a>
	                  			<a class="dropdown-item" onclick="onClickChangeLang(this)" lang="tw" value="tw">繁體中文</a>
	                  			<a class="dropdown-item" onclick="onClickChangeLang(this)" lang="cn" value="cn">简体中文</a>   
	                		</div>
	              		</li>
	            	</ul>
	          	</div>
        	</nav>
    	</div>
      	
      	<!-- Jumbotron -->
      	<div class="jumbotron">
	        <h1>
	        	<span id="slogan">Floor Quotation should be EASY and FREE!</span>
	        </h1>
	        <p class="lead">
	        	<span id="subtitle">You don't have to provide any personal information. Just need few clicks, you can quota the estimated cost.</span>
	        </p>
	        <p>
	        	<a class="btn btn-lg btn-success" href="#" role="button">
	        		<span id="try">Try Today!</span>
	        	</a>
	        </p>
      	</div>

  		<!-- partners -->
      	<div class="container marketing">
      		<div class="row">
        		<div class="col-lg-4">
	          		<img class="rounded-circle" src="{% static "img/mulanfloor.jpg" %}" alt="mulanfloor" width="140" height="140">
	          		<h2>Mulan Floor</h2>
          			<p>
          				Addr: 12300 Denholm Dr, El Monte, CA 91732
          			</p>
          			<p>
          				Tel: (626) 350-9799
          			</p>
          			<p>
          				<a class="btn btn-lg btn-success" href="https://www.mulanfloors.com/" role="button">
          					View details &raquo;
          				</a>
          			</p>
        		</div><!-- /.col-lg-4 -->
        		
        		<div class="col-lg-4">
          			<img class="rounded-circle" src="{% static "img/mulanfloor.jpg" %}" alt="another" width="140" height="140">
          			<h2>Another Floor</h2>
          			<p>
          				Addr: 12300 Denholm Dr, El Monte, CA 91732
          			</p>
          			<p>
          				Tel: (626) 350-9799
          			</p>
          			<p>
          				<a class="btn btn-lg btn-success" href="#" role="button">
          					View details &raquo;
          				</a>
          			</p>
        		</div><!-- /.col-lg-4 -->
       			<div class="col-lg-4">
          			<img class="rounded-circle" src="{% static "img/mulanfloor.jpg" %}" alt="another" width="140" height="140">
          			<h2>Another Floor</h2>
          			<p>
          				Addr: 12300 Denholm Dr, El Monte, CA 91732
          			</p>
          			<p>
          				Tel: (626) 350-9799
          			</p>
          			<p>
          				<a class="btn btn-lg btn-success" href="#" role="button">
          					View details &raquo;
          				</a>
          			</p>
        		</div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  		</div>
    

    	

	   
      
	    <!-- Site footer -->
	    <footer class="footer">
	        <p class="text-center">&copy; Help Half Inc. 2017</p>
	    </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/locale.js" %}"></script>
    <script src="{% static "js/ui.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

  </body>
</html>
