<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <link rel="icon" href="{% static 'cowbaySV/static/img/icon.png' %}">

    <title>CowbaySillionValley</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="{% static 'cowbaySV/static/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cowbaySV/static/css/justified-nav.css' %}" rel="stylesheet">
    <link href="{% static 'cowbaySV/static/css/socialfooter.css' %}" rel="stylesheet">
    
    <!-- Mandatory JS-->
    <script src="{% static 'cowbaySV/static/css/jquery1111.css' %}"></script>
    <script src="{% static 'cowbaySV/static/js/ui.js' %}"></script>

  </head>

  <body>
    <div class="container">
		<div class="masthead">
        	<div class="row featurette">
          		<div class="col-md-1">
              		<img class="featurette-image" src="{% static 'cowbaySV/static/img/logo.jpg' %}" width='100' height='100'>
          		</div>
          		<div class="col-md-11">
            		<h1 class="text-logo">Cowbay Sillion Valley</h1>
          		</div>
        	</div>
    	</div>
      
      <div class="row featurette">
       
      </div>

    	<!-- Example row of columns -->
      <hr>

		  <h2> 隱私權政策 </h2>
      <p>
        歡迎您光臨【Cowbay Sillicon Valley】 (以下簡稱本網站)，本網站由「OJSB Studio」（以下簡稱本公司或我們）所經營。本網站謹依個人資料保護法（以下簡稱個資法）與本《隱私權政策》搜集、處理及利用您的個人資料，並承諾尊重以及保護您個人於本網站的隱私權。特此說明本網站的隱私權政策（以下簡稱本政策），以保障您的權益。請您細讀以下有關本政策的內容：
      </p>

      <hr>
      
      <h2>關於隱私權政策</h2>
      <p>
        1. 本政策適用於 Cowbay Sillicon Valley 所提供之網站、網域、服務、應用程式時，所涉及的個人資料搜集、處理、利用與國際傳輸等活動。惟當有專門針對特定網路或服務的隱私權政策或聲明時，該隱私權政策或聲明將取代或補充本政策。<br>
        2. 本政策並不適用於非 Cowbay Sillicon Valley 所有或控制的公司，也不適用於非 Cowbay Sillicon Valley 所雇用或管理的人員。 <br>
        3. 在您決定使用本網站所提供的服務（以下簡稱本服務）前，請仔細閱讀本政策。<br>
        4. 為因應時勢變遷或法令修正等事由，本網站有權於任何時間修改或變更本政策之內容，您應經常查看以瞭解您當前的權利及義務。若您於本網站為任何修改或變更本政策後仍繼續使用本服務，視為您已同意接受本政策之修改及變更。<br>
      </p>

      <hr>

      <h2>資料搜集之目的、方式及利用範圍</h2>
      <p>
        當您造訪本網站或使用本網站所提供之功能服務時，我們將視該服務功能性質，請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，本網站不會將個人資料用於其他用途。本網站在您使用服務信箱、問卷調查等互動性功能時，會保留您所提供的姓名、電子郵件地址、聯絡方式及使用時間等。於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，除供內部研究外，我們會視需要公佈統計數據及說明文字，但不涉及特定個人之資料，除非相關資料違反特定規範，詳見下節“資料分享與揭露”。
      </p>

      <hr>

      <h2>資料分享與揭露</h2>
      <p>
        本網站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關，但有法律依據或合約義務者，不在此限。前項但書之情形包括不限於：<br>
        1. 經由您書面同意。<br>
        2. 法律明文規定。<br>
        3. 為免除您生命、身體、自由或財產上之危險。<br>
        4. 與公務機關或學術研究機構合作，基於公共利益為統計或學術研究而有必要，且資料經過提供者處理或蒐集著依其揭露方式無從識別特定之當事人。<br>
        5. 當您在網站的行為，違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害時，經網站管理單位研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。<br>
        6. 本網站委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。<br>
        7. 如果本網站全部或部分業務被其他公司收購或合併，我們會將您的個人資料移轉給該公司。<br>
      </p>

      <hr>

      <h2>網站對外的相關連結</h2>
      <p>
        本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。
      </p>

      <hr>

      <h2>Cookie</h2>
      <p>
       為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的Cookie，若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入，但可能會導至網站某些功能無法正常執行 
      </p>

      <hr>

      <h2>隱私權保護政策之修正</h2>
      <p>
        本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。
      </p>

    	<hr>

	    <div class="col-lg-2 col-centered">
        <button type="button" class="btn btn-info btn-centered" onclick="goBack()">
            Go Back
	      </button>
        <div>&nbsp;&nbsp;&nbsp;</div>
	    </div>

    <div>&nbsp;</div>

    <hr>
		<div class="social-link pull-right">
			<div class="col-md-12">
	            <ul class="social-network social-circle">
	            	<li>
	            		<a href="https://www.facebook.com/cowbaySiliconValley/" class="icoFacebook" title="Facebook">
	            			<i class="fa fa-facebook"></i>
	            		</a>
	            		<p>
	            			<h4>靠北矽谷 Facebook 粉絲專頁</h4>
	            		</p>
	            	</li>   
	            </ul>			
			</div>
		</div>
		<div>&nbsp;</div>
	    <!-- Site footer -->
	    <footer class="footer">
	        <p class="text-center">&copy; OJSB Studio - Cowbay Sillicon Valley. 2017</p>
	    </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'cowbaySV/static/js/bootstrap.min.js' %}"></script>

    <!-- <script src="{% static 'js/ui.js' %}"></script>  -->
  
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

  </body>
</html>
